<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propietarios</title>
    <script type="text/javascript" src="vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
</head>
<body class="conatainer">
    <!--Inicio de Vue--->
    <div id="miPagina">
        <div class="row">
            <div class="col-md-4 mt-3">
                <input type="text" placeholder="Nombre" class="form-control" v-model="nombre" ref="nombre">
            </div>

            <div class="col-md-4 mt-3">
                <input type="text" placeholder="Apellido P" class="form-control" v-model="apellidoP"> 
            </div>

            <div class="col-md-4 mt-3">
                <input type="text" placeholder="Apellido M" class="form-control" v-model="apellidoM"> 
            </div>

            <div class="col-md-4 mt-3">
                <select class="form-control" v-model="genero">
                    <option disabled="">Elija un genero</option>
                    <option v-for="g in generos" v-bind:value="g.nombre">{{g.nombre}}</option>
                </select>
            </div>

        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" @click="agregarPropietario()" v-if="editando==0">Agregar</button>

                <button class="btn btn-warning" @click="guardarEdicion()" v-if="editando==1">Actualizar</button>

                <div class="col-md-4">
                    <button class="btn btn-info" @click="cancelar()">Cancelar</button>               
                </div>
                <div class="row pt-2">
                    <div class="col-md-8">
                        <input type="text" placeholder="Escriba el nombre de el propietario" class="form-control" v-model="buscar">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <table class="table table-bordered">
            <thead>
                <th>INDICE</th>
                <th>NOMBRE</th>
                <th>APELLIDO PATERNO</th>
                <th>APELLIDO MATERNO</th>
                <th>GENERO</th>
                <th>ACCIONES</th>
            </thead>

            <tbody>
                <tr v-for="(pro,index) in filtroPropietarios">
                    <td>{{index}}</td>
                    <td>{{pro.nombre}}</td>
                    <td>{{pro.apellidoP}}</td>
                    <td>{{pro.apellidoM}}</td>
                    <td>{{pro.genero}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @click="editarPropietario(index)">Editar</button>

                        <button class="btn btn-danger btn-sm" @click="eliminarPropietario(index)">Eliminar</button>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="row">
            <div class="col-md-8">
                <h3>Tenemos: {{numeroPropietarios}} Propietarios</h3>
            </div>
        </div>

    </div>
    <!--Fin de Vue-->

    <!--Objeto de Vue-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="propietarios.js"></script>
    <script src="vue.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    
</body>
</html>